//
// Layout
// Styles for Forms
// --------------------------------------------------

#field-route-values {
  select, input {
    width: 150px;
  }
}

.field-type-datestamp {
  .fieldset-legend,
  label,
  legend {
    display: none;
  }
}

#field-route-values .container-inline-date .date-padding,
.field-type-datestamp fieldset {
  padding: 0px;
}
