// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Proper spacing for main nav & admin nav
body #header #navigation {
  margin-top: 0 !important;
}

// Styling for nav bars
#navigation .navbar,
.navbar .brand,
.navbar .nav,
.navbar .btn-navbar {
  color: #FFFFFF;
  font-size: $fontSizeLarge; // SASS uses a variable to define common values like font size
}

.navbar .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.30) !important;
  color: #FFFFFF !important;
}

#navigation, .navbar-inner, #logo, .navbar div {
  background: gray url("../images/navback.jpg");
  padding-right: 0px;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.90) !important;
  :hover {
    background-color: rgba(255, 255, 255, 0.90) !important;
  }
}

.dropdown-menu > li > a {
  color: $black;
}

#logo {
  padding: 15px 1em 0px 2em;
  height: 32px;
  img {
    height: 48px;
    float: left;
    position: relative;
    top: -15px;
    padding-right: 12px;
  }
}
