//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

body {
  background: none;
}

.background {
  background: url('../images/grid.jpg');
  position: fixed;
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  margin: 0 auto;
  padding: 12px;
  border: 2px solid $grayDarker;
  background: rgba(255,255,255,.9);
}

a {
  color: $blueDark;
}

h1 {
  padding: 15px;
  background-color: $blueDark;
  color: $white;
  display: table-cell; // Restrict width to actual text
}

h1:before,
h1 div {
  float: left;
}

.page-header {
  border-bottom: none;
}

.nav-tabs {
  border: none;
}

.nav {
  margin-bottom: 0;
}

.nav-tabs > li > a,
.nav-tabs > .active > a {
  color: $black;
  border: 2px solid $black;
  background: $white;
}

.nav-tabs > .active > a {
  font-weight: bold;
}

.nav-tabs > .active > a:hover {
  border-width: 2px;
}

// Wayfinding arrows
h1:before,
.nav-tabs > .active > a:before {
  font-family: fontawesome;
  font-weight: 100;
  content: "\f01a";
  margin-right: 10px;
}

.nav-tabs > li > a:before {
  font-family: fontawesome;
  font-weight: 100;
  content: "\f18e";
  margin-right: 10px;
}

.pane-views-panes {
  border: 2px solid $grayDarker;
  margin: 1em 0 2em;
  background: white;
}

.pane-title {
  border: 1px solid $grayDarker;
  background: $blueLight;
  margin: 0;
  padding: 5px;
  font-size: 1.2em;
}

table, form {
  margin-bottom: 0;
}

tr, td, table td, td.active {
  background-color: white;
  border: 1px solid $grayDarker;
}

th {
  background-color: $blueLight;
  border: 1px solid $grayDarker;
}

.form-actions {
  background: none;
}

.view .form-actions {
  display: none;
}

// Login page
.not-logged-in #block-system-main,
#block-user-login {
  width: 350px;
  margin: 1em auto;
  h2 {
    background: $blueLight;
    border: 2px solid black;
    border-bottom: none;
    padding: 5px;
    margin-bottom: 0;
  }
  input {
    width: 300px;
  }
}
// User Block
.nav-user-block {
  float: right;
  .content {
    background: none;
    color: $white;
    border: none;
    padding: 0;
    a {
      color: $white;
    }
  }
  #block-views-user-block-block{
    // width: 170px; // I don't think we need this
    padding: 0 1em;
  }
}
.views-field-field-real-name{
  margin-bottom: 4px;
}
.views-field-nothing{
  float:  left;
}
.views-field-view-user{
  float:left;
  margin-right: 10px;
}


// Drupal messages
div.messages.error {
  background-color: rgba(242, 222, 222, 0.8);
}

div.messages.status {
  background-color: rgba(223, 240, 216, 0.8);
}

// "Create new" button
.btn {
  background-color: $blue;
  float: right;
  margin: 0 0 1em 100%;
  min-width: 120px;
  max-width: 200px;
  a {
    color: $white;
    white-space: nowrap;
  }
  a:before {
    font-family: fontawesome;
    font-weight: 100;
    content: "\f055";
    margin-right: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}

// Responsive
@media (max-width: 767px) {
  #logo {
    padding: 0 !important;
  }
  .sitename {
    display: none;
  }
  .not-logged-in #block-system-main,
  #block-user-login {
    width: 300px;
    input {
      width: 250px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1199px) {
  // Make navbar search smaller below 1200px, to make room for user block
  .nav-search-collapse input {
    width: 120px;
  }
}

// Print styling
.field-name-field-doc-originator .views-field-nid a {
  float: right;
  background: url(../images/print.png) no-repeat;
  width: 45px;
  padding: 58px 0 0 15px;
  position: absolute;
  right: 1em;
}

.print {
  nav, 
  #navigation,
  a:after,
  .view-author-of-node .views-field-nid,
  footer .pull-right a {
    display: none;
  }
}
